.game-stat {
  padding-left: var(--side-menu-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: black;
  font-size: 1rem;
}

.game-stat__moves-counter {

}

.game-stat__remaining-time {

}

.game-stat__points {

}